{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Document{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/estilo.css" %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		
	{% block navbar%}
      	<header>
      		<nav class="navegacion">
      			<ul class="menu">
      				<li><a href="{% url 'nuevo:inicio'%}">Inicio</a></li>
      				<li><a href="{% url 'nuevo:somos' %}">SimulaFri</a></li>
      				<li><a href="{% url 'nuevo:nuevaSimulacion' %}">Nueva Simulacion</a></li>
      				<li><a href="{% url 'consulta:consultar'%}">Mis simulaciones</a></li>
      				<li><a href="">Opciones</a>
						<ul class="submenu">
							<li><a href="{% url 'login_registrar:lo' %}">Salir</a></li>
						</ul>
      				</li>
      				<li id="usro">
      				{{user.username}}
      			</li>

      			</ul>
      		</nav>
      	</header>
	
	{% endblock %}

	{%  block jquery %}

	{% endblock %}

	{% block content%}
	<h1>Contenido del formulario</h1>
	{% endblock %}
  
	
</div>
 
</body>
<footer>
	{% block footer %}
	
	{% endblock %}
</footer>
</html>