{% extends 'base/base.html' %}
{% block title%}Consultar{% endblock %}

{% block content %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Linea de siembra</td>
			<td>Siembra</td>
			<td>Acciones</td>
		</tr>
	</thead>

	<tbody>
		{% if simulaciones %}
			{% for simulacion  in simulaciones %}
			<tr>
				<td>{{ simulacion.nombre }}</td>
				<td>{{ simulacion.lineaSiembra }}</td>
				<td>{{ simulacion.siembra.nombre }}</td>
				<td>
					<a class="btn btn-primary" href="{% url 'consulta:editar' simulacion.id %}">Editar</a>
					<a class="btn btn-danger" href="{%url 'consulta:eliminar' simulacion.id %}">Eliminar</a>
					<a  class="btn btn-info" href="{% url 'nuevo:simularVer' simulacion.id %}">Ver</a>
				</td>
			</tr>

		{% endfor %} 

		{% else %}
		<h1>No hay registros de simulaciones</h1>

		{% endif %}
	</tbody>

{% endblock %}

{% block footer %}
<form>                
  <ul class="pager">
    <li><a class="submit" href="#">Previous</a></li>
    <li><a class="submit" href="#">Next</a></li>
  </ul>
</form>
{% endblock %}