{% extends 'base/base.html'%}
{% load staticfiles %}
{% block title%}Nuevo {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "css/nuevo.css" %}"/>
<form class="formulario" name="f1" method="POST">
	 {% csrf_token %}
   
	<div class="form-group ">
		<div class="form-group">
			<p><strong>Nombre Simulacion:</strong></p>
			<input type="text" name="simulacion" value="" class="form-control"/>
		</div>
		<div class="col-xs-2">
			<label for="ex1"><strong>Lineas de siembra:</strong></label>
			<input type="number" name="linea" id="ex1" class="form-control"/>
		</div>
		</br>
		<div class="form-group">
			<label><strong>Siembra:</strong></label>
			<h2>{{siembras.nombre}}</h2>
		</div>
		<div class="form-group">
			<strong>Fases de cultivo</strong>
		</br>
		<!--	{% if fase %}
			{% for fases in fase %}
			<input type="checkbox"  name="fase" id="fase" />
			<label class="checkbox">{{fases.descripcion}}</label>
	        </br>
			{% endfor %}
			{% else %}
			<h1>No hay etapas que simular</h1>
			{% endif %}
			{{ form.as_table }}-->
			<div>
			<input type="checkbox"  name="germinacion" id="germinacion"  />
			<strong>Germinacion</strong>
			</div>
			<div>
			<input type="checkbox"  name="emergencia" id="emergencia"  />
			<strong>Emergencia</strong>
			</div>
			<div>
			<input type="checkbox"  name="hojaPrimaria" id="hojaPrimaria"  />
			<strong>Hojas Primarias</strong>
			</div>
			<div>
			<input type="checkbox"  name="primeraHoja" id="primeraHoja"  />
			<strong>Primera Hoja Trifoliada</strong>
			</div>
			<div>
			<input type="checkbox"  name="terceraHoja" id="terceraHoja"  />
			<strong>Tercera Hoja Trifoliada</strong>
			</div>
			<div>
			<input type="checkbox"  name="prefloracion" id="prefloracion"  />
			<strong>Prefloracion</strong>
			</div>
			<div>
			<input type="checkbox"  name="floracion" id="floracion"  />
			<strong>Floracion</strong>
			</div>
			<a href="javascript:seleccionar_todo()"><strong>Marcar todos</strong></a> | 
			<a href="javascript:deseleccionar_todo()"><strong>Desmarcar</strong></a>
			
		    
		</div>
	</div>
<!--	<div class="botones">
        <button type="submit" class="btn btn-primary ">Guardar y Simular</button>
        <a class="btn btn-danger " href="">Cancelar</a>
    </div>-->
    <div class="container">
    	<button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">Configuracion</button>
		<button type="submit" class="btn btn-primary ">Guardar y Simular</button>
        <a class="btn btn-danger " href="">Cancelar</a>
    </div>
	<div class="container">
		
	  <div class="modal fade" id="myModal" role="dialog">
    	<div class="modal-dialog">
    	 <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Configuracion Base</h4>
           </div>
           <div class="modal-body">
           	{% csrf_token %}
         <!-- 	{{ form2.as_p}}-->
              <label>Temperatura Maxima</label>
              <input type="number" name="temperaturaMax" id="temperaturaMax" value="25" placeholder="Centigrados" class="form-control"/>
              <label>Temperatura Minima</label>
              <input type="number" name="temperaturaMin" id="temperaturaMin" value="10" placeholder="Centigrados" class="form-control"/>
              <div class="form-group">
              <label>Humedad</label>
              <input type="number" name="humedad" id="humedad" value="10" placeholder="milimetros lluvia" class="form-control"/>
              </div>
              <div class="form-group">
              <label>Altitud</label>
              <input type="number" name="altitud" id="altitud" value="10" placeholder="msnm" class="form-control"/>
              </div>
              <div class="form-group">
              <label>Luminosidad</label>
              <input type="number" name="luminosidad" id="luminosidad" value="10" placeholder="" class="form-control"/>
              </div>
              <div class="form-group">
              <label>Distancia entre Linea</label>
              <input type="number" name="distanciaL" id="distanciaL" value="10" placeholder="centimetros" class="form-control"/>
              </div>
           </div>
           <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <input type="reset" class="btn btn-info">
           </div>

         </div>

    	</div>
      </div>
	</div>

<script type="text/javascript">
	function seleccionar_todo(){ 
   for (i=0;i<document.f1.elements.length;i++) 
      if(document.f1.elements[i].type == "checkbox")	
         document.f1.elements[i].checked=1 
} 

function deseleccionar_todo(){ 
   for (i=0;i<document.f1.elements.length;i++) 
      if(document.f1.elements[i].type == "checkbox")	
         document.f1.elements[i].checked=0 
}
</script>

	
</form>

{% endblock %}