{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>signup</title>
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/prueba.css" %}">
<script type="application/javascript" src="/static/js/validarFecha.js"></script>
</head>

<body>
	<div id="formulario">

	<h1> signup</h1>
	
		<form method="post">
{% csrf_token %}
 {{form.as_p}}
 
 <button id="registrar" type="submit" class="btn btn-primary" onclick="myFunction()"> registrarse</button>
</form>
<div id="comprobando">
	{{error}}
	<a href="{% url 'login_registrar:log' %}">volver para iniciar sesion</a>
</div>
	

</div>
</body>
</html>